
.page
  background-color: #333
  // overflow: hidden
  &__header
    position: relative
    min-height: $s-header-height
    background-color: #222
  
.dv-audio
  display: flex
  position: relative
  flex-flow: row wrap
  justify-content: space-between
  align-items: 
  margin: 25px auto
  max-width: 1100px
  min-height: 600px
  width: 100%
  &__visual
    flex: 0 0 600px
  &__text
    max-width: 400px
    width: 100%
    right: 10px
    top: 0px
    height: 30px
    opacity: 0.55
    filter: hue-rotate(90deg)
    overflow: hidden
    cursor: pointer
    position: absolute
    +tr(all 900ms ease-in-out)
    overflow: hidden
    &:hover
      height: 100%
      opacity: 1

    


.button-cta
  font-size: 18px
  color: #fff
  margin: 15px
  display: inline-block
  padding: 10px 15px
  background-color: tomato
  border-radius: 5px
  border: 1px solid #ddd


.threeD-visualization
  &__inner
    min-height: 400px
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center
  &__button
    flex: 0 0 50%

.cta-btn
  width: 100px
  height: 40px
  border-radius: 5px  
  border: 1px solid #ffffff
  margin: 0 3px 8px 0px
  background-color: #aaffaa
 
.controllers
  position: fixed
  top: 60px
  left: 5px
  width: 300px
  &__btn
    
    background-color: #ddd
    pointer-events: none;
    &.is-interactive
      background-color: #aaffaa
      pointer-events: initial

canvas
  display: block


#canvasFluid
  width: 100%
  max-width: 800px


.droparea
  position: relative
  width: 200px
  height: 150px
  border-radius: 8px
  border: 2px dotted #f5f5f5
  +tr(all 400ms ease-in-out)
  &__text
    +vcenter
    width: 100%
    text-align: center
    font-family: monospace
    font-size: 12px
    font-weight: 500
    color: #f5f5f5
  &.is-dragenter
    opacity: 0.7
  