
.dv-audio
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: 
  margin: 25px auto
  max-width: 1000px
  width: 100%
  &__visual
    flex: 0 0 600px
  &__text
    flex: 0 0 400px

    

.button-cta
  font-size: 18px
  color: #fff
  margin: 15px
  display: inline-block
  padding: 10px 15px
  background-color: tomato
  border-radius: 5px
  border: 1px solid #ddd


.changelog
  border-radius: 10px
  box-shadow: inset 0px 0px 0px 2px #aaffaf
  max-height: 600px
  overflow-y: scroll
  position: relative
  &__header
    background-color:  #1f731b
    border-top-left-radius: 6px
    border-top-right-radius: 6px
    color: #fff
    text-align: center
    padding: 8px 12px
    font-family: monospace
  &__inner
      padding: 10px 12px


.post
  font-family: Open Sans, sans-serif
  font-size: 14px
  &__heading
    margin-bottom: 15px
  p
    margin-bottom: 15px