---
title: Stream Visualisation

pages: [
	{link: "bach_visualise.html", text: "Step 1" },
	{link: "stream_visualise.html", text: "Step 2", active: true },
	{link: "#", text: "Step 3" },
	{link: "#", text: "Step 4" }
	
]


---
{% extends "layouts/_layout.html" %}

{% block content %}
	

	
	{# partial example #}
	{% include "partials/_header.html" %}
	

	

<!-- begin dv-audio -->
<div class='dv-audio js-howler'>

<!-- begin dv-audio__visual -->
<div class='dv-audio__visual'>


<!-- begin threeD-visualization -->
<div class='threeD-visualization'>
<!-- begin threeD-visualization__inner -->
<div class='threeD-visualization__inner'>
<!-- begin threeD-visualization__button -->
<div class='threeD-visualization__button'>
<button class="button button_play js-aso">Aso</button>
</div>
<!-- end threeD-visualization__button -->
<!-- begin threeD-visualization__button -->
<div class='threeD-visualization__button'>
<button class="button button_play js-mystery ">Mystery</button>
</div>
<!-- end threeD-visualization__button -->
</div>
<!-- end threeD-visualization__inner -->




</div>
<!-- end threeD-visualization -->





</div>
<!-- end dv-audio__visual -->

<!-- begin dv-audio__text -->
<div class='dv-audio__text'>


{% include "partials/changelog/_changelog_2.html" %}

</div>
<!-- end dv-audio__text -->

</div>
<!-- end dv-audio -->



{% endblock %}
