---
title: Stream Visualisation


---
{% extends "layouts/_layout.html" %}

{% block content %}
	



	


<div class='js-sparky three-js'>
<!-- begin controllers -->
<div class='controllers'>
<button class="cta-btn controllers__btn js-play-audio">Play</button>
<button class="cta-btn controllers__btn js-stop-audio">Stop</button>
<button class="cta-btn  js-load-default">Load</button>


<!-- begin droparea -->
<div class='droparea js-drop-area'>
  <span class="droparea__text">or drop your stuff here</span>
</div>
<!-- end droparea -->
</div>

<!-- end controllers -->



</div>

{% include "shaders/_example-shaders.html" %}

{% endblock %}
