

<!-- begin post -->
<div class='post'>

<h4 class="post__heading">Безумный бах в канвасе</h4>
<!-- begin post__text -->
<div class='post__text'>

<p class="post__date">03.12.2017</p>



<p>
  
  В начале был свет. свет пустого экрана, на котором ничего не было
  видно. Просто белый, отпугивающий экран.
  Никаких тебе чудес. ничего, что мне обещали в звёздной академии...
  шутка. но лишь отчасти. Есть такая фраза "blank screen can be very intimidating
  ". Один дизайнер даже пост написал об этом : http://tomkenny.design/articles/that-intimidating-blank-screen/
  
</p>
<p>
  У меня была идея, возможно не самая оригинальная, но я очень хотел её реализовать
  Визуализировать аудио. И не просто, а так чтобы непременно стрим, всё было 
  респонсивненько и там "вжух" и тут "бдыщь". Возможно в какой-то момент мой
  мозг приофигел от таких запросов своих ресурсов и решил забить. Я просто
  остановился на етапе сбора информации об Web Audio Api.
  Немного поковырял его, добился пары тройки визуализаций звука и забросил.
  
</p><p>
  
  Внизу  добавлю список ссылок, которые оказались наиболее полезными.
  
</p>
<p>
  Позже, когда я освоился на новой работе, немного познакомился с ООП в JS,
  я решил вернуться к этому проекту с желанием переписать его в ООП-стиле.
  Переписал, перестало работать. "Довбав я сю скалу", пока не начался процес 
  самоуничижения. Вышел прогулятся, вернулся, прокрастинация. снова за дело,
  Подолбил ещё, выяснил масштабы коллапса, прикинул пути решения ( самоуверенный
  балбес). Решил пару-тройку промежуточных задач, успокоил своё Эго, занялся
  другими делами. Потом ещё через неделю вернулся к проекту, вот давеча вчера вечером
  
</p>
<p>
  Данные частот никак не хотели передаваться из метода analyser 
  класса Soundiser в мой класс Visualiser. Я прикручивал PubSub, но 
  это оказалось неверным решением. Проблемой было то, что я не мог решить 
  эту задачу не разобравшись как эе это всё работает. Я хотел сделать
  "вжух" и "бдыщь", но при этом я не был на сто процентов уверен как работает
  те куски кода, которые я скопипастил. 
  
</p>
<p>
  Я решил проблему, избавившись от отдельного класса для визуализации и по быстрому,
  грязненько и не очень красиво, запилил визуализацию в Soundiser.
  Не работает.
  
</p><p>
  
  Сидел, читал доку, читал другую, прогулялся.
  Когда я передавал массив частот в виде Uint8Array в качестве параметра
  функции render, происходило непонятное, что я пока ещё не могу объяснить.
  Судя по выводу в консоль этих данных внутри фукнции рендера,
  они редьюсились в виде нецелого числа, которое с каждым кадром анимации увеличивалось
  в арифметической прогресии.
  
  
</p>
<p>
  в результате тип данных у меня получался число вместо массива. 
  Обожаю преобразование данных в JS. Это как суперсила, которая не всегда 
  возникает в нужном месте и в нужное время. Или как базука, к курку которой привязан
  Ваш палец. Да-да, ваш, вы там это, поосторожнее.
  
</p>
<p>
  Задачу решил, использоваа свойство того замыкания, в котором всё это безобразие
  происходило.
  Всё заработало,кроме регулсяции громкости, но с тем мы тоже разберёмся.
  
</p>
<p>
  С верой в себя, я ложусь спать.
</p>

</div>
<!-- end post__text -->
</div>
<!-- end post -->
