

<!-- begin post -->
<div class='post'>

<h4 class="post__heading"></h4>
<!-- begin post__text -->
<div class='post__text'>

<p class="post__date">18.12.2017</p>

<p>
Сегодня добился нормальной подгрузки аудиоспрайта и управления параметрами его воспроизведения.
Но тут такое дело... Обнаружилось, что библиотека  <a href="#">howler.js</a> не поддерживает работу с аудиокентекстом в мере, необходимой 
для визуализации. У меня сейчас стоит выбор. Заняться контрибуцией в howler.js, чтобы можно было визуализировать звук с её помощью
либо использовать Three.js, как я и планировал, а ауидиопоток грузить ручками...
Так как я поставил себе срок до конца месяца добиться двух сносных визуализаций, я выбираю второй вариант, но идею
контрибуции в howler.js  я отложу в ящик.
<ul class="changelog__list">
  <li class="changelog__item"> Только что нашёл статью статью <a href="http://raathigesh.com/Audio-Visualization-with-Web-Audio-and-ThreeJS/">разработчика из Шри-Ланки на мою тему</a>,
   стоит взять на заметку</li>

</ul>

</p>


</div>
<!-- end post__text -->
</div>
<!-- end post -->
