

<!-- begin post -->
<div class='post'>

<h4 class="post__heading"></h4>
<!-- begin post__text -->
<div class='post__text'>

<p class="post__date">23.12.2017</p>

<p>
Использую офф доку <a href="https://threejs.org/docs/#api/materials/MeshPhongMaterial">three.js</a>, <a href="http://raathigesh.com/Audio-Visualization-with-Web-Audio-and-ThreeJS/">статью по визуализации аудио Raathigesh</a>
<ul class="changelog__list">
<li>Учусь работать с асинхронным JS, используя обертку вокруг колбеков - <a href="https://developer.mozilla.org/uk/docs/Web/JavaScript/Reference/Global_Objects/Promise">Promise</a></li>
<li>Очень важно понимать как работают инструменты, которые ты используешь</li>
<li>покапался в доках three.js, оказалось у них есть модуль для работы с аудио...сейчас я не буду на него переписывать, чтобы не тормозить процесс. он переходит в конец очереди</li>

</ul>

</p>


</div>
<!-- end post__text -->
</div>
<!-- end post -->
