

<!-- begin post -->
<div class='post'>

<h4 class="post__heading"></h4>
<!-- begin post__text -->
<div class='post__text'>

<p class="post__date">24.12.2017</p>

<p>
<ul class="changelog__list">
<li>срочно нужен паттерн для этого проекта. Я хочу сделать анимацаю легконастраиваемой и стабильно работающей.</li>
<li>вместо этого у меня ощущение, что я сматываю скотчем две детали ионного двигателя</li>
<li>цель этого проекта - визуализация данных. Показать, как в зависимости от репрезнтативной формы изменяется
человеческое восприятие данных </li>
<li>переписал дочерний клас визуализации.</li>
<li>Убрал кровью и потом выстраданную загрузку аудио, заменил на встроенный в three.js <a href="https://threejs.org/docs/index.html#api/audio/AudioAnalyser">AudioAnalyser</a></li>
</ul>

</p>


</div>
<!-- end post__text -->
</div>
<!-- end post -->
